{"swagger":"2.0","info":{"title":"Docgen API","description":"API for generating and customizing Word documents and converting them to PDFs.","version":"1.0.0"},"basePath":"/","paths":{"/api/v1/document/generate":{"post":{"summary":"Generate Document","description":"Generates a customized document from a template URL and replacements.","operationId":"GenerateDocument","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DocumentGenerateRequest"}}],"responses":{"200":{"description":"Successful Response","schema":{"$ref":"#/definitions/DocumentGenerateResponse"}}}}},"/api/v1/document/generate_bulk":{"post":{"summary":"Generate Bulk Documents","description":"Generates customized documents in parallel for a list of candidates from a SharePoint template.","operationId":"GenerateBulkDocuments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/DocumentGenerateBulkRequest"}}],"responses":{"200":{"description":"Successful Response","schema":{"$ref":"#/definitions/DocumentGenerateBulkResponse"}}}}},"/api/v1/document/placeholders":{"get":{"summary":"Get Document Placeholders (GET)","description":"Downloads the specified SharePoint template and extracts all placeholder fields. Use this endpoint to suggest the list of fields to the user.","operationId":"GetDocumentPlaceholders","produces":["application/json"],"parameters":[{"name":"template_name","in":"query","required":true,"type":"string","description":"The name of the template file in SharePoint to retrieve and extract placeholders from."},{"name":"tenant_id","in":"query","required":false,"type":"string","description":"Customer Entra ID tenant ID for SharePoint routing."},{"name":"site_url","in":"query","required":false,"type":"string","description":"SharePoint site or library URL passed from Copilot Studio knowledge to scope the document search to only that library."}],"responses":{"200":{"description":"Successful Response","schema":{"$ref":"#/definitions/DocumentPlaceholdersResponse"}}}}}},"definitions":{"DocumentPlaceholdersRequest":{"type":"object","properties":{"file_bytes":{"type":"string","description":"Base64-encoded Word template file."},"template_url":{"type":"string","description":"Direct URL of the Word template file."},"template_name":{"type":"string","description":"The name of the template file in SharePoint to retrieve and extract placeholders from."},"tenant_id":{"type":"string","description":"Customer Entra ID tenant ID for SharePoint routing."},"site_url":{"type":"string","description":"SharePoint site or library URL to scope template search."}}},"DocumentGenerateRequest":{"type":"object","properties":{"file_bytes":{"type":"string","description":"Base64-encoded Word template file."},"template_url":{"type":"string","description":"Direct URL of the Word template file (e.g. from SharePoint/Teams)."},"template_name":{"type":"string","description":"The name of the template file in SharePoint to retrieve and customize."},"replacements":{"type":"string","description":"Key-value replacement pairs."},"custom_commands":{"type":"string","description":"Custom layout or style commands."},"output_format":{"type":"string","description":"Target format: 'docx' or 'pdf'.","enum":["docx","pdf"],"default":"docx"},"tenant_id":{"type":"string","description":"Customer Entra ID tenant ID for SharePoint routing."},"site_url":{"type":"string","description":"SharePoint site or library URL passed from Copilot Studio knowledge to scope the document search to only that library."}}},"DocumentGenerateResponse":{"type":"object","properties":{"status":{"type":"string"},"download_url":{"type":"string"},"message":{"type":"string"}}},"DocumentPlaceholdersResponse":{"type":"object","properties":{"status":{"type":"string"},"placeholders":{"type":"array","items":{"type":"string"}}}},"BulkCandidate":{"type":"object","properties":{"replacements":{"type":"string","description":"Candidate-specific key-value replacement pairs."},"custom_commands":{"type":"string","description":"Candidate-specific custom commands (e.g. 'delete section 2')."}}},"DocumentGenerateBulkRequest":{"type":"object","properties":{"template_name":{"type":"string","description":"The name of the template file in SharePoint to retrieve and customize."},"template_url":{"type":"string","description":"Direct URL of the Word template file."},"global_replacements":{"type":"string","description":"Replacements applied globally to all candidates."},"candidates":{"type":"array","items":{"$ref":"#/definitions/BulkCandidate"},"description":"The list of candidates to customize documents for."},"output_format":{"type":"string","description":"Target format: 'docx' or 'pdf'.","enum":["docx","pdf"],"default":"docx"},"tenant_id":{"type":"string","description":"Customer Entra ID tenant ID for SharePoint routing."},"site_url":{"type":"string","description":"SharePoint site or library URL passed from Copilot Studio knowledge to scope the document search to only that library."}}},"DocumentGenerateBulkResponse":{"type":"object","properties":{"status":{"type":"string"},"download_urls":{"type":"array","items":{"type":"string"}},"markdown_table":{"type":"string"}}}},"security":[],"securityDefinitions":{},"host":"xdntq0sz-5004.inc1.devtunnels.ms"}